@font-face {
    font-family: "VoltaireFrangela";
    src: url(./fonts/Voltaire-Frangela.ttf) format('truetype');
}
*{
    font-family: "VoltaireFrangela";
}

#content{
    background-image: linear-gradient(black, #022F18);
}

div:has(> #userHandlerItem){
    padding: 0px;
}

.modal-login{
    background: linear-gradient(180deg, #052c2a 0%, #031d13 100%);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}